table{
	margin-top: 50px;
	text-align: center;
	background: #b6366b;
	color: rgb(21, 196, 88);
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}

body{
	margin-top: 50px;
	text-align: center;
	background: #619b1a;
	color: rgb(196, 21, 21);
}
